@font-face { 
    font-family: "gotham";
    src: url(../fonts/GothamProBlack.ttf) format("truetype"),
	    url(../fonts/GothamProBlack.eot?) format("eot"),
	    url(../fonts/GothamProBlack.woff) format("woff"); /* все современные браузеры */
	font-weight: 700;
}
@font-face { 
    font-family: "gotham";
    src: url(../fonts/GothamProMedium.ttf) format("truetype"),
	    url(../fonts/GothamProMedium.eot?) format("eot"),
	    url(../fonts/GothamProMedium.woff) format("woff"); /* все современные браузеры */
	font-weight: 600;
}
@font-face { 
    font-family: "gotham";
    src: url(../fonts/GothamProLight.ttf) format("truetype"),
	    url(../fonts/GothamProLight.eot?) format("eot"),
	    url(../fonts/GothamProLight.woff) format("woff"); /* все современные браузеры */
	font-weight: 300;
}
@font-face { 
    font-family: "magistral";
    src: url(../fonts/MagistralC-Bold.ttf) format("truetype");
	font-weight: 700;
}
@font-face { 
    font-family: "magistral";
    src: url(../fonts/MagistralCReg.ttf) format("truetype");
	font-weight: 500;
}



/*services*/
.services__caption {
	font-family: magistral;
	font-weight: 700;
	color: #000000;
	font-size: 18px;
	margin-left: 15px;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.services__wrapper {
	font-size: 0;
	
}
.services__box {
	padding:15px;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
}
.services__service {
	background-color: #2981b9;
	border-radius: 5px;
	text-align: center;
	width: 200px;
	padding:20px 0;
	position: relative;
	transition: 0.2s;
	overflow: hidden;
}
.services__service::before {
	content: '';
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right: 50%;
	width: 0;
	background-color: #1a6da2;
	z-index: 1;
	transition: 0.4s;
}
.services__service:hover::before {
	width: 50%;
}
.services__service::after {
	content: '';
	position: absolute;
	top:0;
	left:auto;
	bottom:0;
	right:0;
	width: 0;
	background-color: #1a6da2;
	z-index: 1;
	transition: 0.4s;
}
.services__service:hover::after {
	width: 50%;
}
.services__banner {
	float: right;
	padding: 10px;
	background-color: #efefef;
	border-radius: 5px;
	margin-right: 15px;
	position: relative;
}
@media only screen and (max-width: 1220px) {
	.services__box {
		margin-bottom: 15px;
	}
}
@media only screen and (max-width: 768px) {
	.services__wrapper {
		text-align: center;
	}
	.services__box {
		padding: 15px 3px;
	    margin-bottom: 0;
	    padding-bottom: 0;
	}
	.services__service {
		width: 140px;
	}
	.services__banner {
		display: none;
	}
}

/*service*/
.service__box {
	position: relative;
	z-index: 2;
}
.service__link {
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
}
.service__name {
	font-family: magistral;
	font-weight: 700;
	color: #ffffff;
	margin-top: 10px;
}

.bootstrap-tagsinput {
	width: 500px !important;
}

input {
	border-radius: 4px !important;
}

.pagination {
	margin: 0 !important;
}


/////////////////////////////////////
FILE INPUT STYLES

.input-file-container {
  position: relative;
  width: 225px;
} 
.js .input-file-trigger {
  display: block;
  padding: 14px 45px;
  background: #39D2B4;
  color: #fff;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
}
.js .input-file {
  position: absolute;
  top: 0; left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
  background: #34495E;
  color: #39D2B4;
}

.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.js .file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}
.js .file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}
