@font-face { 
    font-family: "gotham";
    src: url(../fonts/GothamProBlack.ttf) format("truetype"),
	    url(../fonts/GothamProBlack.eot?) format("eot"),
	    url(../fonts/GothamProBlack.woff) format("woff"); /* все современные браузеры */
	font-weight: 700;
}
@font-face { 
    font-family: "gotham";
    src: url(../fonts/GothamProMedium.ttf) format("truetype"),
	    url(../fonts/GothamProMedium.eot?) format("eot"),
	    url(../fonts/GothamProMedium.woff) format("woff"); /* все современные браузеры */
	font-weight: 600;
}
@font-face { 
    font-family: "gotham";
    src: url(../fonts/GothamProLight.ttf) format("truetype"),
	    url(../fonts/GothamProLight.eot?) format("eot"),
	    url(../fonts/GothamProLight.woff) format("woff"); /* все современные браузеры */
	font-weight: 300;
}
@font-face { 
    font-family: "magistral";
    src: url(../fonts/MagistralC-Bold.ttf) format("truetype");
	font-weight: 700;
}
@font-face { 
    font-family: "magistral";
    src: url(../fonts/MagistralCReg.ttf) format("truetype");
	font-weight: 500;
}



ul {
	padding-left: 0;
}

.container {
	min-height: 800px !important;
	max-width: 1440px;
	width: 100%;
	padding:0;
}

#CatsModal .modal-header {
	background-color: #e2f3ff !important;
}

/*owl*/

@media only screen and (max-width: 1220px) {
	.header__rightBox  {
		margin-top: 0;
	}

	.services__wrapper {
	font-size: 0;
	padding-left: 5% ;
}
}
@media only screen and (max-width: 992px) {
	.header {
		padding-left: 10px;
		padding-right: 10px;
	}
	.header__rightBox {
		margin-top: 0;
	}

}
@media only screen and (max-width: 768px) {
	.header {
		text-align: center;
	}
	.header__leftBox {
		float: none;
		display: inline-block;
    	vertical-align: middle;
	}
}


/*leftBox*/
.leftBox__logotype {
	display: inline-block;
	vertical-align: middle;
}
.leftBox__balance {
	display: inline-block;
	vertical-align: middle;
	margin-left: 40px;
	font-size: 17px;
}
@media only screen and (max-width: 1220px) {
	.leftBox__logo {
		width: 190px;
	}
	.leftBox__balance {
		margin-left: 20px;
	}
}
@media only screen and (max-width: 992px) {
	.leftBox__logo {
		width: 210px;
		margin-top: 3px;
	}
	.leftBox__balance {
		display: none;
	}
}
@media only screen and (max-width: 768px) {
	.leftBox__logo {
		width: 130px;
		margin-top: 4px;
	}
}


/*rightBox*/
.rightBox {
	position: relative;
}
.rightBox__subscribe {
	display: inline-block;
	vertical-align: middle;
}
.rightBox__period {
	font-size: 17px;
	border-bottom: 2px dashed #ffffff;
	padding-bottom: 2px;
}
.rightBox__renew {
	background: #ffffff;
    padding: 5px 15px;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 20px;
    transition: 0.2s;
}
.rightBox__renew:hover {
	text-decoration: none;
	color: #dcdc00;
}
.rightBox__renew .flaticon-right-arrow:before {
	font-size: 16px;
	margin-left: 3px;
}
.rightBox__user {
	display: inline-block;
	vertical-align: middle;
	margin-left: 50px;
}
@media only screen and (max-width: 992px) {
	.rightBox__user  {
		margin-left: 10px;
	}
	.rightBox__period {
		font-size: 14px;
		display: inline-block;
		vertical-align: middle;
	}
}
@media only screen and (max-width: 768px) {
	.rightBox__user  {
		margin-left: 5px;
	}
	.rightBox__subscribe {
		display: none;
	}
	.rightBox__mobMenu {
	    padding:0 5px;
	    background: transparent;
	    border: none;
	    outline: none;
	    border-radius: 3px;
	    float: left;
	}
	.rightBox__mobMenu:active {
		background-color: #046aad;
	}
}



@media only screen and (max-width: 1220px) {
	.user__avatar {
		width: 35px;
		height: 35px;
	}
}
@media only screen and (max-width: 768px) {
	.user__avatar {
		margin-top: 0px;
	}
	.user__name {
		display: none;
	}
}
@media only screen and (max-width: 479px) {
	.user__avatar {
		width: 30px;
		height: 30px;
	}
	.user__name {
		margin-left: 5px;
		font-size: 12px;
	}
	.user__name .flaticon-down-arrow:before {
	    font-size: 12px;
    	margin-left: 5px;
	}
}

/*content*/
.content {
	float: left;
	width: 100%;
	position: relative;
	overflow:hidden;
}
.content__navigation {
	width: 95px;
	text-align: center;
	position: absolute;
	left: 0;
}
.content__main {
	min-height: 597px !important;
	margin-left: 95px;
}
@media only screen and (max-width: 768px) {
	.content__navigation  {
		width: 200px;
	}
	.content__main {
		margin-left: 0px;
	}
}


/*main*/
.main {
	min-height: 597px !important;
	transition-duration: 250ms;
	transition-timing-function: linear;
}
.main__tarrifs {
	float: left;
	width: 100%;
}
.main__nav {
	float: left;
	width: 100%;
}
.main__footer {
	float: left;
	width: 100%;
}
@media only screen and (max-width: 768px) {
	.main_menu-opened {
		transform: translateX(200px);
	}
}



/*navigation*/

@media only screen and (max-width: 768px) {
	

.services__wrapper {
	font-size: 0;
	padding-left: 5% ;
}
@media only screen and (max-width: 1320px) {
	.slide__image {
		width: 37%;
		margin-left: 0;
		padding-left: 50px;
	}
	.slide__img {
		max-width: 400px;
	}
	.slide__description {
		width: 62%;
		margin-left: 0;
		padding-left: 50px;
	}
	.slide__title {
		margin-top: 10px;
		font-size: 28px;
	}
	.slide__subtitle {
		font-size: 15px;
	}
	.slide__buttons {
		margin-top: 20px;
	}
	.slide__button {
		display: table;
		margin-bottom: 20px;
	}

	.services__wrapper {
		font-size: 0;
		padding-left: 5% !important;
	}
}
@media only screen and (max-width: 992px) {
	.slide {
		position: relative;
		overflow-y: hidden;
	}
	.slide__image {
		position: absolute;
		left: -140px;
		padding-left: 0;
		width: auto;
		opacity: 0.8;
	}
	.slide__description {
		padding-left: 0;
		width: 100%;
		text-align: center;
		position: relative;
	}
	.slide__button {
		display: inline-block;
	}

	.services__wrapper {
		font-size: 0;
		padding-left: 5% !important;
	}
}
@media only screen and (max-width: 768px) {
	.slide__image {
		display: none;
	}
	.slide__button {
		font-size: 18px;
		padding-left: 5%;
	}
}



/*services*/
.services__caption {
	font-family: magistral;
	font-weight: 700;
	color: #000000;
	font-size: 18px;
	margin-left: 15px;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.services__wrapper {
	font-size: 0;
	padding-left: 5% !important;
}
.services__box {
	padding:15px;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
}
.services__service {
	background-color: #2981b9;
	border-radius: 5px;
	text-align: center;
	width: 200px;
	padding:20px 0;
	position: relative;
	transition: 0.2s;
	overflow: hidden;
}
.services__service::before {
	content: '';
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right: 50%;
	width: 0;
	background-color: #1a6da2;
	z-index: 1;
	transition: 0.4s;
}
.services__service:hover::before {
	width: 50%;
}
.services__service::after {
	content: '';
	position: absolute;
	top:0;
	left:auto;
	bottom:0;
	right:0;
	width: 0;
	background-color: #1a6da2;
	z-index: 1;
	transition: 0.4s;
}
.services__service:hover::after {
	width: 50%;
}
.services__banner {
	float: right;
	padding: 10px;
	background-color: #efefef;
	border-radius: 5px;
	margin-right: 15px;
	position: relative;
}
@media only screen and (max-width: 1220px) {
	.services__box {
		margin-bottom: 15px;
	}
}
@media only screen and (max-width: 768px) {
	.services__wrapper {
		text-align: center;
	}
	.services__box {
		padding: 15px 3px;
	    margin-bottom: 0;
	    padding-bottom: 0;
	}
	.services__service {
		width: 140px;
	}
	.services__banner {
		display: none;
	}
}

/*service*/
.service__box {
	position: relative;
	z-index: 2;
}
.service__link {
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
}
.service__name {
	font-family: magistral;
	font-weight: 700;
	color: #ffffff;
	margin-top: 10px;
}




/*nav*/
.nav {
	background-color: #e2eef5;
}
.nav__list {
	float: left;
	margin-bottom: 0;
	padding-left: 10px;
}
.nav__item {
	display: inline-block;
	vertical-align: middle;
	padding:15px;
	padding-top: 20px;
	list-style-type: none;
}
.nav__link {
	font-family: magistral;
	font-weight: 700;
	font-size: 14px;
	color: #303030;
	transition:0.2s;
}
.nav__link:hover {
	text-decoration: none;
	color: #000000;
}
.nav__social {
	float: right;
	margin-top: 17px;
    margin-right: 20px;
}
@media only screen and (max-width: 768px) {
	.nav {
		padding: 10px 0;
	}
	.nav__list {
		padding-left: 0;
		text-align: center;
	}
	.nav__item {
		padding: 3px 10px;
	}
	.nav__social {
		margin-left: 0;
		width: 100%;
	}
}


/*social*/
.social__item {
	display: inline-block;
	vertical-align: middle;
	margin:0 2px;
	transition:0.4s;
}
.social__item:hover {
	transform: translateY(-2px);
}
@media only screen and (max-width: 768px) {
	.social {
	    margin-right: 0;
	    width: 100%;
	    text-align: center;
	}
}


/*footer*/
.footer {
	background-color: #f2f2f6;
	padding:5px 0;
	border-top: 1px solid #d3d3d3;
}
.footer__copyright {
	float: left;
	font-family: magistral;
	font-weight: 500;
	color: #666666;
	font-size: 14px;
	padding-left: 25px;
}
.footer__developed {
	float: right;
	font-family: magistral;
	font-weight: 500;
	color: #666666;
	font-size: 14px;
	padding-right: 25px;
}
.footer__qwerty {
	color: #ff8100;
	transition: 0.2s;
	font-weight: 700;
}
.footer__qwerty:hover {
	text-decoration: none;
	color: #ff8100;
}
@media only screen and (max-width: 768px) {
	.footer {
		text-align: center;
	}
	.footer__copyright {
		float: none;
		padding-left: 0;
		width: 100%;
	}
	.footer__developed {
		float: none;
		padding-right: 0;
		width: 100%;
	}
}


