
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #f0f0f0;
  font-family: 'Open Sans'
}

.content {
  position: fixed;
  margin: 75px auto;
  width: 260px;
  height: 750px;
}

@media only screen and (max-width: 768px) {
  .content {
  /*position: fixed;*/
  margin: 52px auto;
  width: 260px;
  /*height: 750px;*/
}
}

.colors {
  float: left;
  margin: 20px auto;
  width: 260px;
}

.colors a {
  float: left;
  height: 30px;
  width: 33.33333333%;
}

.colors .default { background: #414956; }

.colors .blue { background: #4a89dc; }

.colors .white { background: #ffffff; }

.menu {
  /*box-shadow: 0 4px 2px #333333;*/
  float: left;
  /*min-width: 260px;*/
  outline: 0;
  position: relative;
}

.menu * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}

.menu .menu-footer {
  background: #414956;
  color: #f0f0f0;
  float: left;
  font-weight: normal;
  min-height: 650px;
  line-height: 50px;
  font-size: 6px;
  width: 100%;
  text-align: center;
}

.menu .menu-header {
  background: #414956;
  color: #f0f0f0;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 100%;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  display: block;
  text-align: left;
  float: left;
  position: relative;
  width: 100%;
}

.menu ul li a {
  background: #414956;
  color: #f0f0f0;
  float: left;
  font-size: 13px;
  overflow: hidden;
  padding: 14px 22px;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  width: 100%;
}

.menu ul li a i {
  float: left;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  width: 34px;
}

.menu ul li .menu-label {
  background: #f0f0f0;
  border-radius: 100%;
  color: #555555;
  font-size: 11px;
  font-weight: 800;
  line-height: 18px;
  min-width: 20px;
  padding: 1px 2px 1px 1px;
  position: absolute;
  right: 18px;
  text-align: center;
  top: 14px;
}

.menu ul .submenu {
  display: none;
  position: static;
  width: 100%;
}

.menu ul .submenu .submenu-indicator { line-height: 16px; }

.menu ul .submenu li {
  clear: both;
  width: 100%;
}

.menu ul .submenu li ul.submenu {
  display: none;
  position: static;
  width: 100%;
  overflow: hidden;
}

.menu ul .submenu li a {
  background: #383838;
  border-left: solid 6px #d2d6de;
  border-top: none;
  float: left;
  font-size: 11px;
  position: relative;
  width: 100%;
}

.menu ul .submenu li:hover > a { border-left-color: red; }

.menu ul .submenu li .menu-label {
  background: #f0f0f0;
  border-radius: 100%;
  color: #555555;
  font-size: 11px;
  font-weight: 800;
  line-height: 18px;
  min-width: 20px;
  padding: 1px 2px 1px 1px;
  position: absolute;
  right: 18px;
  text-align: center;
  top: 12px;
  top: 14px;
}

.menu ul .submenu > li > a { padding-left: 30px; }

.menu ul .submenu > li > ul.submenu > li > a { padding-left: 45px; }

.menu ul .submenu > li > ul.submenu > li > ul.submenu > li > a { padding-left: 60px; }

.menu .submenu-indicator {
  -moz-transition: "transform .3s linear";
  -o-transition: "transform .3s linear";
  -webkit-transition: "transform .3s linear";
  transition: "transform .3s linear";
  float: right;
  font-size: 20px;
  line-height: 19px;
  position: absolute;
  right: 22px;
}

.menu .submenu-indicator-minus > .submenu-indicator {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu > ul > li.active > a {
  background: #3b424d;
  color: #ffffff;
}

.menu > ul > li:hover > a {
  background: #3b424d;
  color: #ffffff;
}

.menu > ul > li > a { border-bottom: solid 1px #3b424d; }

.ink {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transform: scale(0);
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  display: block;
  position: absolute;
  transform: scale(0);
}

.comment-class {
   margin-left: 12px !important;
}

.animate-ink {
  -moz-animation: ripple .3s linear;
  -ms-animation: ripple .3s linear;
  -o-animation: ripple .3s linear;
  -webkit-animation: ripple .3s linear;
  animation: ripple .3s linear;
}
@-moz-keyframes 'ripple' {
 100% {
 opacity: 0;
 transform: scale(2.5);
}
}
@-webkit-keyframes 'ripple' {
 100% {
 opacity: 0;
 transform: scale(2.5);
}
}
@keyframes 'ripple' {
 100% {
 opacity: 0;
 transform: scale(2.5);
}
}

.blue.menu .menu-footer { background: #4a89dc; }

.blue.menu .menu-header { background: #4a89dc; }

.blue.menu ul li > a { background: #4a89dc; }

.blue.menu ul ul.submenu li:hover > a { border-left-color: #3e82da; }

.blue.menu > ul > li.active > a { background: #3e82da; }

.blue.menu > ul > li:hover > a { background: #3e82da; }

.blue.menu > ul > li > a { border-bottom-color: #3e82da; }

.white.menu .menu-footer {
  background: #ffffff;
  color: #555555;
}

.white.menu .menu-header {
  background: #ffffff;
  color: #555555;
}

.white.menu ul li a {
  background: #ffffff;
  color: #555555;
  font-weight: bold;

}

.white.menu ul ul.submenu li:hover > a { border-left-color: #f0f0f0; }

.white.menu ul ul.submenu li a { color: #4e4e4e; background-color: #f9f9f9; }

.white.menu > ul > li.active > a { background: #f0f0f0; }

.white.menu > ul > li:hover > a { background: #f0f0f0; }

.white.menu > ul > li > a { border-bottom-color: #f0f0f0; }

.white.menu > ul > li > a > .ink { background: rgba(0, 0, 0, 0.1); }

.lang__div {
  display: inline-block;
    position: relative;
}

.lang__div ul  {
  list-style-type: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}

.lang__div ul li.lang__active a {
    background-color:#fff;
    color:  #184ea7;
}

.lang__div ul li a {
    font-weight: lighter;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    text-align: center;
    color: white;
}

.lang__div ul li {
  margin-left: 5px;
}

.hide {
  display: none;
}

.show_area {
  display: block;
  background: white;
  margin-top: 7px;
  height: auto;
  width: 25%;
  border: 1px solid #f39c12;
  border-radius: 4px;
}

.preview_message {
  display: none;

}

.show_preview {
  color: #717171;
    font-size: 11px;
    display: block;
    height: auto;
    border-radius: 1px;
    z-index: 5555;
    right: -9px;
    background: white;
    border: 1px solid #dcdcdc;

    position: absolute;
    right: 0;
    left: auto;
    width: 280px;
    padding: 0 0 0 0;
    margin: 0;
    top: 100%;
  
}

.swal-title {
  font-size: 17px;
}

.swal-text {
  font-size: 14px;
}

.preview_message .menu {
  max-height: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
}

.preview_message h4  {
    padding: 0;
    margin: 0 0 0 45px;
    color: #444444;
    font-size: 15px;
    position: relative;
  }

.preview_message .header_message {
  border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #ffffff;
    padding: 7px 10px;
    border-bottom: 1px solid #f4f4f4;
    color: #444444;
    font-size: 14px;
    position: relative;
    
}

#count_message {
  position: absolute;
  left: 14px; 
  bottom: 11px; 
  text-align: center; 
  font-size: 9px; 
  padding: 2px 3px; 
  line-height: .9;
}

.message_li {
  width: 278px; 
  border-top: 1px solid #efefef;
}

.message_a {
  cursor: pointer;
  margin: 0;
  padding: 10px 10px; 
  width: 100%;
}

.message_label {
  font-size: 12px;
}

.message_div {
  margin-right: 10px;
}

.message_text {
  font-size: 12px;
}

.show {
  display: inline-block;
  color: #fff;
}

.hide {
  display: none;
}