@media print {
    .noprint {display:none !important;}
    a:link:after, a:visited:after {  
      display: none;
      content: "";    
    }

    /*body {
        background-color: red !important;
    }*/

    .vop {
        color: yellow !important;
    }

    .update {
        display: none;
    }

    .to-down {
        display: none;
    }
}