@font-face { 
    font-family: "gotham";
    src: url(../fonts/GothamProBlack.ttf) format("truetype"),
	    url(../fonts/GothamProBlack.eot?) format("eot"),
	    url(../fonts/GothamProBlack.woff) format("woff"); /* все современные браузеры */
	font-weight: 700;
}
@font-face { 
    font-family: "gotham";
    src: url(../fonts/GothamProMedium.ttf) format("truetype"),
	    url(../fonts/GothamProMedium.eot?) format("eot"),
	    url(../fonts/GothamProMedium.woff) format("woff"); /* все современные браузеры */
	font-weight: 600;
}
@font-face { 
    font-family: "gotham";
    src: url(../fonts/GothamProLight.ttf) format("truetype"),
	    url(../fonts/GothamProLight.eot?) format("eot"),
	    url(../fonts/GothamProLight.woff) format("woff"); /* все современные браузеры */
	font-weight: 300;
}
@font-face { 
    font-family: "magistral";
    src: url(../fonts/MagistralC-Bold.ttf) format("truetype");
	font-weight: 700;
}
@font-face { 
    font-family: "magistral";
    src: url(../fonts/MagistralCReg.ttf) format("truetype");
	font-weight: 500;
}

@import url(http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css);
@import url('https://fonts.googleapis.com/css?family=Wire+One');
@import url('https://fonts.googleapis.com/css?family=Lato');


ul {
	padding-left: 0;
}

.container {
	min-height: 800px !important;
	max-width: 1440px;
	width: 100%;
	padding:0;
	font-family: magistral;
}

/*owl*/
.owl-dots {
	text-align: center;
}
.owl-dot {
	width: 10px;
	height: 10px;
	display: inline-block;
	vertical-align: middle;
	border: 3px solid transparent;
	background: #e26700;
	margin:0 3px;
}
.owl-dot.active {
	background: #ffffff;
	border-color: #e26700;
	width: 12px;
	height: 12px;
}

.blockquot {
	    border-left: 5px solid #7cb3e2 ;
}

/*body*/
.body_noscroll {
	overflow-y: hidden;
}


/*header*/
.header {
	float: left;
	width: 100%;
	padding:10px 30px;
	font-family: magistral;
	font-weight: 700;
	background: #2980b9;
	color: #ffffff;
}
.header__leftBox {
	float: left;
}
.header__rightBox {
	float: right;
	margin-top: 8px;
}


@media only screen and (max-width: 1220px) {
	.header__rightBox  {
		margin-top: 0;
	}

	.services__wrapper {
	font-size: 0;
	
}
}
@media only screen and (max-width: 992px) {
	.header {
		padding-left: 10px;
		padding-right: 10px;
	}
	.header__rightBox {
		margin-top: 0;
	}

}
@media only screen and (max-width: 768px) {
	.header {
		text-align: center;
	}
	.header__leftBox {
		float: none;
		display: inline-block;
    	vertical-align: middle;
	}
}


/*leftBox*/
.leftBox__logotype {
	display: inline-block;
	vertical-align: middle;
}
.leftBox__balance {
	display: inline-block;
	vertical-align: middle;
	margin-left: 40px;
	font-size: 17px;
}
@media only screen and (max-width: 1220px) {
	.leftBox__logo {
		width: 190px;
	}
	.leftBox__balance {
		margin-left: 20px;
	}
}
@media only screen and (max-width: 992px) {
	.leftBox__logo {
		width: 210px;
		margin-top: 3px;
	}
	.leftBox__balance {
		display: none;
	}
}
@media only screen and (max-width: 768px) {
	.leftBox__logo {
		width: 130px;
		margin-top: 4px;
	}
}


/*rightBox*/
.rightBox {
	position: relative;
}
.rightBox__subscribe {
	display: inline-block;
	vertical-align: middle;
}
.rightBox__period {
	font-size: 17px;
	border-bottom: 2px dashed #ffffff;
	padding-bottom: 2px;
}
.rightBox__renew {
	background: #ffffff;
    padding: 5px 15px;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 20px;
    transition: 0.2s;
}
.rightBox__renew:hover {
	text-decoration: none;
	color: #dcdc00;
}
.rightBox__renew .flaticon-right-arrow:before {
	font-size: 16px;
	margin-left: 3px;
}
.rightBox__user {
	display: inline-block;
	vertical-align: middle;
	margin-left: 50px;
}
@media only screen and (max-width: 992px) {
	.rightBox__user  {
		margin-left: 10px;
	}
	.rightBox__period {
		font-size: 14px;
		display: inline-block;
		vertical-align: middle;
	}
}
@media only screen and (max-width: 768px) {
	.rightBox__user  {
		margin-left: 5px;
	}
	.rightBox__subscribe {
		display: none;
	}
	.rightBox__mobMenu {
	    padding:0 5px;
	    background: transparent;
	    border: none;
	    outline: none;
	    border-radius: 3px;
	    float: left;
	}
	.rightBox__mobMenu:active {
		background-color: #046aad;
	}
}


/*user*/
.user {
	color: #ffffff;
	transition: 0.2s;
	position: relative;
}
/*.user:hover {
	text-decoration: none;
	color: yellow;
}*/
.user__avatar {
	width: 37px;
    height: 37px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 100%;
    background-color: #d3d3d3;
}
.user__name {
	display: inline-block;
	margin-left: 10px;
	font-size: 14px;
	margin-right: 18px;
	font-weight: normal;
	cursor: initial;
}

.log-link{
	font-weight: normal;
}

.user__name .flaticon-down-arrow:before {
	font-size: 16px;
	margin-left: 10px;
}
.user__dropdown {
	position: absolute;
	top:120%;
	right: 0;
	width: 220px;
	background-color: #ffffff;
	border-radius: 5px;
	z-index: 30;
	display: none;
	padding:10px;
	color: #000000;
}
@media only screen and (max-width: 1220px) {
	.user__avatar {
		width: 35px;
		height: 35px;
	}
}
@media only screen and (max-width: 768px) {
	.user__avatar {
		margin-top: 0px;
	}
	.user__name {
		display: none;
	}
}
@media only screen and (max-width: 479px) {
	.user__avatar {
		width: 30px;
		height: 30px;
	}
	.user__name {
		margin-left: 5px;
		font-size: 12px;
	}
	.user__name .flaticon-down-arrow:before {
	    font-size: 12px;
    	margin-left: 5px;
	}
}

/*content*/
.content {
	float: left;
	width: 100%;
	position: relative;
	overflow:hidden;
}
.content__navigation {
	width: 95px;
	text-align: center;
	position: absolute;
	left: 0;
}
.content__main {
	min-height: 597px !important;
	margin-left: 95px;
}
@media only screen and (max-width: 768px) {
	.content__navigation  {
		width: 200px;
	}
	.content__main {
		margin-left: 0px;
	}
}


/*main*/
.main {
	min-height: 597px !important;
	transition-duration: 250ms;
	transition-timing-function: linear;
}
.main__tarrifs {
	float: left;
	width: 100%;
}
.main__nav {
	float: left;
	width: 100%;
}
.main__footer {
	float: left;
	width: 100%;
}
@media only screen and (max-width: 768px) {
	.main_menu-opened {
		transform: translateX(200px);
	}
}



/*navigation*/
.navigation {
	background: #e6e9ec;
	position: absolute;
	z-index: 5;
	padding-bottom: 30px;
}
.navigation_fixed {
	position: fixed;
	top:0;
	left: 0;
	bottom:0;
	height: 100%;
}
.navigation__list {
	padding:20px 0;
	padding-top: 10px;
}
.navigation_fixed .navigation__list {
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
}
.navigation__list::-webkit-scrollbar {
    width: 6px;
}
 
.navigation__list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
.navigation__list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.navigation__item {
	list-style: none;
}
.navigation__link {
	display: block;
	transition: 0.2s;
	font-family: magistral;
	font-weight: 700;
	font-size: 14px;
	color: #303030;
	padding:10px 0;
}
.navigation__link:hover {
	text-decoration: none;
	background: #d3d3d3;
}
.navigation__img {
	width: 45px;
}
.navigation__name {
	display: block;
	margin-top: 10px;
}
.navigation__years {
	position: absolute;
	bottom:0;
	left: 0;
	right: 0;
	width: 100%;
	display: block;
	text-align: center;
	font-family: magistral;
	font-weight: 13px;
	padding: 5px 0;
	border-top: 1px solid #d3d3d3;
}
@media only screen and (max-width: 768px) {
	.navigation {
		border-right: 1px solid #d6d6d6;
		padding-bottom: 0;
	    transform: translateX(-200px);
	    transition-duration: 250ms;
		transition-timing-function: linear;
	    height: 100%;
	}
	.navigation__opened {
		transform: translateX(0);
	}
	.navigation__img {
		width: 40px;
	}
	.navigation__name {
		word-wrap: break-word;
		font-size: 10px;
	}
	.navigation__years {
		display: none;
	}
	.navigation__list {
		font-size: 0;
		padding-top: 0;
	}
	.navigation__item {
		display: inline-block;
		vertical-align: middle;
		font-size: 10px;
		width: 50%;
	}
	.navigation__link {
		height: 94px;
		padding:20px 0;
	}

	.wish {
		margin-top: 40px;
		margin-left: 29%;
		color: white;
	}
}


/*slider */
.slider  {
	background: linear-gradient(to right, #f2af2a, #ffe069);
	padding: 15px 0;
}

/*slide*/
.slide__image {
	display: inline-block;
	vertical-align: top;
	margin-left: 50px;
}

.slide__image__cryl {
	display: inline-block;
	vertical-align: top;
	margin-left: 3px;
}

.slide__img {
	max-width: 450px;
}
.slide__description {
	display: inline-block;
	vertical-align: top;
	margin-left: 50px;
}

.slide__title {
	font-family: gotham;
	font-weight: 700;
	font-size: 39px;
	color: #000000;
	margin-top: 60px;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.slide__subtitle {
	font-family: gotham;
	font-weight: 300;
	font-size: 16px;
	text-transform: uppercase;
}
.slide__buttons {
	margin-top: 35px;
}
.slide__button {
	font-family: gotham;
	font-size: 22px;
	transition: 0.2s;
	margin:0 10px;
	color: #000000;
	display: inline-block;
	vertical-align: middle;
}
.slide__button:hover {
	text-decoration: none;
	color: #303030;
}
.slide__button_simple {
	padding-bottom: 3px;
	border-bottom: 2px dashed #000000;
	font-weight: 300;
}
.slide__button_simple:hover {
	border-color: #303030;
}
.slide__button_border {
	border: 2px dashed #000000;
	border-radius: 5px;
	padding:12px 15px;
}
.slide__button_border:hover {
	border-color: #303030;
}

.services__wrapper {
	font-size: 0;
}
@media only screen and (max-width: 1320px) {
	.slide__image {
		width: 37%;
		margin-left: 0;
		padding-left: 50px;
	}
	.slide__img {
		max-width: 400px;
	}
	.slide__description {
		width: 62%;
		margin-left: 0;
		padding-left: 50px;
	}
	.slide__title {
		margin-top: 10px;
		font-size: 28px;
	}
	.slide__subtitle {
		font-size: 15px;
	}
	.slide__buttons {
		margin-top: 20px;
	}
	.slide__button {
		display: table;
		margin-bottom: 20px;
	}

	.services__wrapper {
		font-size: 0;
		padding-left: 5% !important;
	}
}
@media only screen and (max-width: 992px) {
	.slide {
		position: relative;
		overflow-y: hidden;
	}
	.slide__image {
		/*position: absolute;
		left: -140px;
		padding-left: 0;
		width: auto;
		opacity: 0.8;*/
		display: none;
	}
	.slide__description {
		padding-left: 0;
		width: 100%;
		text-align: center;
		position: relative;
	}
	.slide__button {
		display: inline-block;
	}

	.services__wrapper {
		font-size: 0;
		padding-left: 5% !important;
	}

	.wish {
		margin-top: 40px;
		margin-left: 29%;
		color: white;
	}
}
@media only screen and (max-width: 768px) {
	.slide__image {
		display: none;
	}
	.slide__button {
		font-size: 18px;
		padding-left: 5%;
	}
}



/*services*/
.services__caption {
	font-family: magistral;
	font-weight: 700;
	color: #000000;
	font-size: 18px;
	margin-left: 15px;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.services__wrapper {
	font-size: 0;
	
}
.services__box {
	padding:15px;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
}
.services__service {
	background-color: #2981b9;
	border-radius: 5px;
	text-align: center;
	width: 200px;
	padding:20px 0;
	position: relative;
	transition: 0.2s;
	overflow: hidden;
}
.services__service::before {
	content: '';
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right: 50%;
	width: 0;
	background-color: #1a6da2;
	z-index: 1;
	transition: 0.4s;
}
.services__service:hover::before {
	width: 50%;
}
.services__service::after {
	content: '';
	position: absolute;
	top:0;
	left:auto;
	bottom:0;
	right:0;
	width: 0;
	background-color: #1a6da2;
	z-index: 1;
	transition: 0.4s;
}
.services__service:hover::after {
	width: 50%;
}
.services__banner {
	float: right;
	padding: 10px;
	background-color: #efefef;
	border-radius: 5px;
	margin-right: 15px;
	position: relative;
}
@media only screen and (max-width: 1220px) {
	.services__box {
		margin-bottom: 15px;
	}
}
@media only screen and (max-width: 768px) {
	.services__wrapper {
		text-align: center;
	}
	.services__box {
		padding: 15px 3px;
	    margin-bottom: 0;
	    padding-bottom: 0;
	}
	.services__service {
		width: 140px;
	}
	.services__banner {
		display: none;
	}


}

/*service*/
.service__box {
	position: relative;
	z-index: 2;
}
.service__link {
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
}
.service__name {
	font-family: magistral;
	font-weight: 700;
	color: #ffffff;
	margin-top: 10px;
}



/*tarrifs*/
.tarrifs {
	padding-bottom: 15px;
}
.tarrifs__caption {
	font-family: magistral;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	margin-left: 15px;
} 
.tarrifs__wrapper {
	font-size: 0;
	text-align: center;
}
.tarrifs__box {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	padding:15px;
}
.tarrifs__tarrif {
	max-width: 280px;
}


/*tarrif*/
.tarrif {
	height: 344px !important;
	border-radius: 10px;
	overflow:hidden;
	border:1px solid #d3d3d3;
}
.tarrif__head {
	position: relative;
	height: 150px;
	overflow:hidden;
	text-align: center;
	color: #ffffff;
	font-family: magistral;
	display: table;
	width: 100%;
}
.tarrif__head::after {
	content: '';
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index: -1;
	background: rgba(67, 100, 145, 0.8);
}
.tarrif__box {
	display: table-cell;
	vertical-align: middle;
}
.tarrif__bg {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index: -2;
}

.tarrif-bg {
	
}

.tarrif__price {
	font-weight: 700;
}
.tarrif__name {
	font-size: 27px;
	text-transform: uppercase;
	font-weight: 500;
	padding: 5px;
}
.tarrif__body {
	padding:0 15px;
	padding-bottom: 15px;
}

.tarrif__body a {
	text-decoration: none !important;
}

.tarrif__level {
	text-align: center;
	font-size: 15px;
	font-family: magistral;
	font-weight: 700;
	text-transform: uppercase;
}
.tarrif__desc {
	font-family: magistral;
	font-weight: 500;
	font-size: 15px;
	text-align: left;
}



/*nav*/
.nav {
	background-color: #e2eef5;
}
.nav__list {
	float: left;
	margin-bottom: 0;
	padding-left: 10px;
}
.nav__item {
	display: inline-block;
	vertical-align: middle;
	padding:15px;
	padding-top: 20px;
	list-style-type: none;
}
.nav__link {
	font-family: magistral;
	font-weight: 700;
	font-size: 14px;
	color: #303030;
	transition:0.2s;
}
.nav__link:hover {
	text-decoration: none;
	color: #000000;
}
.nav__social {
	float: right;
	margin-top: 17px;
    margin-right: 20px;
}
@media only screen and (max-width: 768px) {
	.nav {
		padding: 10px 0;
	}
	.nav__list {
		padding-left: 0;
		text-align: center;
	}
	.nav__item {
		padding: 3px 10px;
	}
	.nav__social {
		margin-left: 0;
		width: 100%;
	}
}


/*social*/
.social__item {
	display: inline-block;
	vertical-align: middle;
	margin:0 2px;
	transition:0.4s;
}
.social__item:hover {
	transform: translateY(-2px);
}
@media only screen and (max-width: 768px) {
	.social {
	    margin-right: 0;
	    width: 100%;
	    text-align: center;
	}

	.yow-banner {
		max-width: 600px;
		min-width: 550px;
	    margin: auto;
		border: 1px solid #efefef;
		border-radius: 1px;
		margin-top: 45px;
		/*width: 400px;*/
		height: 250px;
	}
}


/*footer*/
.footer {
	background-color: #f2f2f6;
	padding:5px 0;
	border-top: 1px solid #d3d3d3;
}
.footer__copyright {
	float: left;
	font-family: magistral;
	font-weight: 500;
	color: #666666;
	font-size: 14px;
	padding-left: 25px;
}
.footer__developed {
	float: right;
	font-family: magistral;
	font-weight: 500;
	color: #666666;
	font-size: 14px;
	padding-right: 25px;
}
.footer__qwerty {
	color: #ff8100;
	transition: 0.2s;
	font-weight: 700;
}
.footer__qwerty:hover {
	text-decoration: none;
	color: #ff8100;
}
@media only screen and (max-width: 768px) {

	.modal-content {
		width: 50%;
		min-width: 200px;
		height: auto;
	}

	.footer {
		text-align: center;
	}
	.footer__copyright {
		float: none;
		padding-left: 0;
		width: 100%;
	}
	.footer__developed {
		float: none;
		padding-right: 0;
		width: 100%;
	}

	.menu-header {
		display: hidden;
	}
}

.form-hidden {
  display: none
}

.list-group-item {
	padding: 0 0 0 15px; 
	margin-bottom: 5px; 
	margin-left: 0px; 
	text-decoration: none;
	border: 1px solid #bcdbea;
}

.list-group-item h4 {
	padding-right: 20px;
	text-decoration: none;

}

.list-group-item:hover {
	background-color: none;
	/*box-shadow: 0px 0px 5px 1px rgba(171,500,148,0.5);*/
	text-decoration: none;
	border: 1px dashed #8ea3de;
}

.list-group-item:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.select {
	background-color: red;
}

.panel {
	padding: 1px;
	/*background-color: #5caad0;*/
	border: 1px solid #bcdbea ;
	border-radius: 7px; 
	margin-bottom: 55px; 
	padding-bottom: 10px;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 0px 2px rgba(0,0,0,1);
    transition: all .4s;
	/*box-shadow: 0px 1px 1px 0px silver;*/
	
}

/*.panel:hover {*/
	/*box-shadow: 0px 0px 26px 1px silver;*/
/*	border: 0px ;
	transform: translateY(-2px); box-shadow: 5px 10px 20px rgba(0,0,0,.3);
}*/

.panel-div {
	border-radius: 5px;
	border: 1px solid #bcdbea;
	background-color: #fff;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-right: 0px !important;
   	padding-left: 0px !important;
}


/*   sot button*/
.sot-a{ display: inline-block; text-decoration: none; color: inherit; transition: all .3s; }

.sot-button { list-style: none; display: inline-block; }

.panel .icons > li > a{ height: 40px; width: 40px; border-radius: 40px; line-height: 40px; text-align: center; 
	transition: all .3s; font-size: 1.2em; box-shadow: 0px 0px 2px rgba(0,0,0,1); background: #61b4ea; color: #fff; }

.panel .icons > li > a:hover{ transform: translateY(-2px); box-shadow: 5px 10px 20px rgba(0,0,0,.3); }

/*   end sot button*/

.yow-banner {
	max-width: 600px;
    margin: 90px auto 0 auto;
	border: 1px solid #efefef;
	border-radius: 1px;
	/*margin-top: 45px;*/
	/*width: 400px;*/
	height: 250px;
}

.filter .input-3 {
	width: 30.666667%;
}

.filter .col-12 {
	padding-left: 64px;
}

.filter .predmeti {
	/*width:  10.333333% !important;*/
	padding-left: 102px;
}

.filter .yazik {
	/*width: 38.666667%;*/
	padding-left: 67px;
}

.dom-selectizing li, .dom-selectizing-clone li {
	perspective: none !important;
	-webkit-perspective: none !important;
}

.dom-selectizing span, .dom-selectizing-clone span {
	display: block;

}

.dom-selectizing span.arrow {
	background-color: #1cdbb8 !important;
	color: white !important;
	float: left;
	
}

.dom-selectizing li ul {
	background: #fff !important;
}

.dom-selectizing .title, .dom-selectizing-clone .title {
	display: block;
	overflow:hidden;
	border-top-right-radius: 5px !important;
}

body .dom-selectizing, .dom-selectizing-clone {
	display: block;
}




.ola {
	
	padding-bottom: 10px;
}

.blockUI {
	border-radius: 7px;
	padding: 0;
	margin: 0;
	z-index: 1000;
	/*background: #a1ea89;*/
}

.panel-area {
	border: 1px solid #bcdbea; 
	/*width: 30px; */
	height: 40px; 
	background:#61b4ea;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
	margin-bottom:  40px;
	
	padding-top: 5px 0 5px  5px;
	/*padding-left: 7px;*/
}

.button {
	max-width: 573px;
	font-size: 23px; 
	padding-bottom: 10px;
	padding-top: 6px; 
	border: 0px solid white; 
	height: 44px; 
	border-radius: 7px; 
	margin: 10px; 
	color: #419eca; 
	margin-top: 40px; 
	background-color: #1cdbb8;
}

.button:hover {
	background-color: #5fe8cf;
}

.panel-quest {
	border: 1px solid white; 
	width: 30px; 
	height: 30px; 
	color:white;
	border-radius: 50px; 
	margin: 4px;
	/*margin-left: 4px; */
	padding: 4px;
}

.panelshow {
  position: static;
  visibility: visible;
}

.count-ul {
	display: inline-block; 
	text-decoration: none; 
	list-style-type: none;
	margin-bottom: 50px;
	margin-top: 20px;
}

.count-li {
	display: inline-block;
	margin-right: 25px;
	margin-bottom: 20px;
	border: 1px solid #2980b9; 
	width: 30px; 
	height: 30px; 
	border-radius: 50px; 
	margin-top: 5px; 
	padding-top: 4px;
	
	
}

.count-li:hover {
	text-decoration: none;
	/*margin-right: 0px;*/
	color: #fff;
	background-color: #337ac2;

}

.checked {
	display: inline-block;
	margin-right: 25px;
	margin-bottom: 20px;
	border: 1px solid #2980b9; 
	width: 30px; 
	height: 30px; 
	border-radius: 50px; 
	margin-top: 5px; 
	padding-top: 4px;
	text-decoration: none;
	color: #fff;
	background-color: #337ac2;
}

/* this is just for a long scrollbar */
div.space{
  margin-bottom:700px
}

/* added 1/24/17 */
.active{
  color:red;
}

.selected {
	background-color: red;
	color: white;
}

a { 
    text-decoration: none !important; /* Отменяем подчеркивание у ссылки */
   } 

.foggy-comparison-manual-wrapper {
	position: relative;
}

.to-down {
	margin-top: 0px;
	margin-bottom: 5px;
	margin-left: 10px;
	width: 40px; 
	height: 40px; 
	border: 1px solid #61b4ea;
	background: white; 
	padding-top: 5px; 
	padding-left:  12px; 
	border-radius: 50px;
	position: relative;
	z-index: 1001;
	box-shadow: rgba(0,0,0,0.2) 0px 0px 1px;

	line-height: 30px;
    text-align: center;
    transition: all .3s;
}



.to-down:hover {
	/*border: 1px solid #2980b9 !important;
	color: #2980b9;*/
	transform: translateY(-2px); box-shadow: 5px 10px 20px rgba(0,0,0,.3);

}

.update {
	margin-top: 0px;
	margin-bottom: 5px;
	margin-left: 10px;
	width: 40px; 
	height: 40px; 
	border: 1px solid #61b4ea;
	background: white; 
	padding-top: 5px; 
	padding-left:  12px; 
	border-radius: 50px;
	position: relative;
	z-index: 1001;
	box-shadow: rgba(0,0,0,0.2) 0px 0px 1px;

	line-height: 30px;
    text-align: center;
    transition: all .3s;
}

.update:hover {
	/*border: 1px solid #2980b9 !important;
	color: #2980b9;*/
	transform: translateY(-2px); box-shadow: 5px 10px 20px rgba(0,0,0,.3);

}

.restable th, td {
	text-align: center;

}

.restable {
	height: 200px;
}

.modal-content {
	width: auto;
}

/*.modal-body {
	background-color: #fff;
}

.modal-header {
    background-color: #fff;
}

.modal-footer {
    background: #fff;
}*/

.container-res {
    overflow:hidden;
    height: 60px;
}

.one {
    position: absolute;
    top: 0;
    background-color: lightblue;
    z-index: 1;
}

.two {
    background-color: yellow;
    display: none;
}

.predmet__opened {
	display: absolute;
}

.predmet__close {
	display: none;
}

.active__predmet {
	border-bottom: 2px solid #2980b9;
}

.desactive__predmet {
	border-bottom: 0px solid #2980b9;
}

.index__result {
	padding-top: 15px;
}

.page {
	padding-left: 15px;
	padding-right: 15px;
}

.table-res {
	/*border: 1px solid silver; */
	border-radius: 5px !important; 
	margin-top: 50px !important;
}

.table th, td {
	text-align: left;

}

.table .protsent {
	width: 20px !important;
	min-width: 20px !important;
}

.show {
	display: inherit;
}

.hide {
	display: none;
}

.about .active {
    background: black;
    color: white;
  }


.box .nav-stacked .logout {
	color:red !important;
}

.variant {
	cursor: pointer;
}


.lang__div {
	display: inline-block;
    position: relative;
}

.lang__div ul  {
	list-style-type: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}

.lang__div ul li.lang__active a {
    background-color:#fff;
    color:  #184ea7;
}

.lang__div ul li a {
    font-weight: lighter;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    text-align: center;
    color: white;
}

.lang__div ul li {
	margin-left: 5px;
}

.log-link {
	color: white !important;
	font-size: 17px;
	margin-left: 20px;
}

.lg {
	width: 850px !important;
}

.vop {
	margin-top: 20px;
}

.count__test {
	height: 100%;
	width: 189px;
	font-size: 82px;
    line-height: 99%;
    color: white;
    text-align: right;
    padding: 0;
    float: left;
    margin-left: 15px;
    border: 0px solid white;
}

.wish {
	margin-top: 40px;
	margin-left: 33%;
	color: white;
}

.hr {
	margin-left: 135px;
}

.hr-panel {
	margin-left: 154px;
}

.time__out:hover {
	color:green;
	
}

.time__out {
	color:red;
}

/////////////////////////////////////

/*.GaugeMeter {
  position: Relative;
  text-align: Center;
  overflow: Hidden;
  cursor: Default;
  display: inline-block;
}

.GaugeMeter SPAN, .GaugeMeter B {
  width: 54%;
  position: Absolute;
  text-align: Center;
  display: Inline-Block;
  color: RGBa(0,0,0,.8);
  font-weight: 100;
  font-family: "Open Sans", Arial;
  overflow: Hidden;
  white-space: NoWrap;
  text-overflow: Ellipsis;
  margin: 0 23%;
}

.GaugeMeter[data-style="Semi"] B {
  width: 80%;
  margin: 0 10%;
}

.GaugeMeter S, .GaugeMeter U {
  text-decoration: None;
  font-size: .60em;
  font-weight: 200;
  opacity: .6;
}

.GaugeMeter B {
  color: #000;
  font-weight: 200;
  opacity: .8;
}*/

///////////////////////////////////////

/*.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
	    border: 1px solid #dcd8d8 !important;
}*/

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
	    border: 1px solid #e6e6e6 !important;
}

.intl-tel-input {
	width: 100%;
}

.block {
	display: block;
}
